<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzz.system.provider.mapper.SysPostMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zzz.system.api.model.domain.SysPost">
        <id column="id" property="id" />
        <result column="post_code" property="postCode" />
        <result column="post_name" property="postName" />
        <result column="dept_id" property="deptId" />
        <result column="order_num" property="orderNum" />
        <result column="status" property="status" />
        <result column="remark" property="remark" />
        <result column="is_deleted" property="isDeleted" />
        <result column="trace_id" property="traceId" />
        <result column="creator_id" property="creatorId" />
        <result column="creator" property="creator" />
        <result column="create_time" property="createTime" />
        <result column="updater_id" property="updaterId" />
        <result column="updater" property="updater" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, post_code, post_name, dept_id, order_num, status, remark, is_deleted, trace_id, creator_id, creator, create_time, updater_id, updater, update_time
    </sql>

</mapper>
