<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzz.oauth.provider.mapper.SysClientMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zzz.oauth.api.model.domain.SysClient">
        <id column="id" property="id" />
        <result column="trace_id" property="traceId" />
        <result column="is_deleted" property="isDeleted" />
        <result column="creator_id" property="creatorId" />
        <result column="creator" property="creator" />
        <result column="create_time" property="createTime" />
        <result column="updater_id" property="updaterId" />
        <result column="updater" property="updater" />
        <result column="update_time" property="updateTime" />
        <result column="client_id" property="clientId" />
        <result column="client_secret" property="clientSecret" />
        <result column="resource_ids" property="resourceIds" />
        <result column="scope" property="scope" />
        <result column="authorized_grant_types" property="authorizedGrantTypes" />
        <result column="authorities" property="authorities" />
        <result column="redirect_uri" property="redirectUri" />
        <result column="access_token_validity" property="accessTokenValidity" />
        <result column="refresh_token_validity" property="refreshTokenValidity" />
        <result column="autoapprove" property="autoapprove" />
        <result column="additional_information" property="additionalInformation" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        trace_id,
        is_deleted,
        creator_id,
        creator,
        create_time,
        updater_id,
        updater,
        update_time,
        id, client_id, client_secret, resource_ids, scope, authorized_grant_types, authorities, redirect_uri, access_token_validity, refresh_token_validity, autoapprove, additional_information
    </sql>

</mapper>
