<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzz.oauth.provider.mapper.SysDeptMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zzz.oauth.api.model.domain.SysDept">
        <id column="id" property="id" />
        <result column="dept_name" property="deptName" />
        <result column="leader" property="leader" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="status" property="status" />
        <result column="order_num" property="orderNum" />
        <result column="parent_id" property="parentId" />
        <result column="tenant_id" property="tenantId" />
        <result column="is_deleted" property="isDeleted" />
        <result column="trace_id" property="traceId" />
        <result column="creator_id" property="creatorId" />
        <result column="creator" property="creator" />
        <result column="create_time" property="createTime" />
        <result column="updater_id" property="updaterId" />
        <result column="updater" property="updater" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, dept_name, leader, phone, email, status, order_num, parent_id, tenant_id, is_deleted, trace_id, creator_id, creator, create_time, updater_id, updater, update_time
    </sql>
    <select id="getByUserId" resultType="com.zzz.oauth.api.model.domain.SysDept">
    </select>

</mapper>
